<form class="js-form" method="{{form.method | default('POST')}}" action="{{site.uri.public}}/{{form.action}}">
    {% include "forms/csrf.html.twig" %}
    <div class="js-form-alerts">
    </div>
    <div class="row">
        {% block drone_form %}
            {% if 'name' not in form.fields.hidden %}
            <div class="col-sm-6">
                <div class="form-group">
                    <label>{{translate('DRONE.NAME')}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-edit fa-fw"></i></span>
                        <input type="text" class="form-control" name="name" autocomplete="off" value="{{drone.drone_name}}" placeholder="{{translate('DRONE.NAME_EXPLAIN')}}" {% if 'name' in form.fields.disabled %}disabled{% endif %}>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if 'slug' not in form.fields.hidden %}
            <div class="col-sm-12">
                <div class="form-group">
                    <label>{{translate("SLUG")}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-tag fa-fw"></i></span>
                        <input type="text" class="form-control" name="slug" autocomplete="off" value="{{drone.drone_slug}}" placeholder="{{translate("DRONE.SLUG_EXPLAIN")}}" {% if 'slug' in form.fields.disabled %}disabled{% endif %} readonly>
                        {% if 'slug' not in form.fields.disabled %}
                            <span class="input-group-btn" data-toggle="buttons">
                                <label class="btn btn-primary">
                                    <input type="checkbox" id="form-drone-slug-override" autocomplete="off"> {{translate("OVERRIDE")}}
                                </label>
                            </span>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
            {% if 'fleet' not in form.fields.hidden %}
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="input-group">{{translate('DRONE.FLEET')}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-users fa-fw"></i></span>
                        {% if 'fleet' in form.fields.disabled %}
                            <input type="text" class="form-control" name="fleet_name" value="{{fleet.name}}" disabled>
                        {% else %}
                            <select id="input-group" class="form-control js-select2" name="fleet_id">
                                {% for fleet in fleets %}
                                    <option value="{{fleet.id}}" {% if (fleet.id == drone.fleet_id) %}selected{% endif %}>{{fleet.name}}</option>
                                {% endfor %}
                            </select>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
            {% if 'ipv4' not in form.fields.hidden %}
            <div class="col-sm-6">
                <div class="form-group">
                    <label>{{translate('DRONE.IPV4')}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-server"></i></span>
                        <input type="text" class="form-control" name="ipv4" autocomplete="off" value="{{drone.ipv4}}" placeholder="{{translate('DRONE.IPV4_EXPLAIN')}}" {% if 'ipv4' in form.fields.disabled %}disabled{% endif %}>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endblock %}
    </div><br>
    <div class="row">
        <div class="col-xs-8 col-sm-4">
            <button type="submit" class="btn btn-block btn-lg btn-success">{{form.submit_text}}</button>
        </div>
        <div class="col-xs-4 col-sm-3 pull-right">
            <button type="button" class="btn btn-block btn-lg btn-link" data-dismiss="modal">{{translate('CANCEL')}}</button>
        </div>
    </div>
</form>
<!-- Include validation rules -->
<script>
{% include "pages/partials/page.js.twig" %}
</script>
