<form class="js-form" method="{{form.method | default('POST')}}" action="{{site.uri.public}}/{{form.action}}">
    {% include "forms/csrf.html.twig" %}
    <div class="js-form-alerts">
    </div>
    <div class="row">
        {% block user_form %}
            {% if 'name' not in form.fields.hidden %}
            <div class="col-sm-6">
                <div class="form-group">
                    <label>{{translate('FIRST_NAME')}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-edit fa-fw"></i></span>
                        <input type="text" class="form-control" name="first_name" autocomplete="off" value="{{user.first_name}}" placeholder="{{translate('FIRST_NAME')}}" {% if 'name' in form.fields.disabled %}disabled{% endif %}>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>{{translate('LAST_NAME')}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-edit fa-fw"></i></span>
                        <input type="text" class="form-control" name="last_name" autocomplete="off" value="{{user.last_name}}" placeholder="{{translate('LAST_NAME')}}" {% if 'name' in form.fields.disabled %}disabled{% endif %}>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if 'group' not in form.fields.hidden %}
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="input-group">{{translate('FLEET')}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-users fa-fw"></i></span>
                        {% if 'group' in form.fields.disabled %}
                            <input type="text" class="form-control" name="theme" value="{{user.group.name}}" disabled>
                        {% else %}
                            <select id="input-group" class="form-control js-select2" name="group_id">
                                {% for group in groups %}
                                <option value="{{group.id}}" {% if (group.id == user.group_id) %}selected{% endif %}>{{group.name}}</option>
                                {% endfor %}
                            </select>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
        {% endblock %}
    </div><br>
    <div class="row">
        <div class="col-xs-8 col-sm-4">
            <button type="submit" class="btn btn-block btn-lg btn-success">{{form.submit_text}}</button>
        </div>
        <div class="col-xs-4 col-sm-3 pull-right">
            <button type="button" class="btn btn-block btn-lg btn-link" data-dismiss="modal">{{translate('CANCEL')}}</button>
        </div>
    </div>
</form>
<!-- Include validation rules -->
<script>
{% include "pages/partials/page.js.twig" %}
</script>
