{% extends "pages/abstract/default.html.twig" %}

{% block stylesheets_page %}
  {{ assets.css('css/demo') | raw }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css" type="text/css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.css"/>
{% endblock %}

{% block stylesheets_page_group %}
  
{% endblock %}

{% set page_active = "hud" %}

{# Overrides blocks in head of base template #}
{% block page_title %}{{translate("HUD")}}{% endblock %}

{% block page_description %}{{page.drone.drone_name}}{% endblock %}

{% block content %}

<div class="wrapper">

  <header class="main-header">
    {% include "navigation/main-nav.html.twig" %}
  </header>

  <!-- Full Width Column -->
  <div class="content-wrapper ">
    <div class="container" style="width:100%;max-width:calc(178vh - 328px);">
        <!-- Content Header (Page header) -->
        {% block content_header %}
        <section class="content-header">
          <h1>{% block header_title %}{{ block('page_title') }}{% endblock %}{% if block('page_description') is not empty %}<small id="droneStore" data-droneData="{{page.drone}}">{% block header_description %}{{ block('page_description') }}{% endblock %}</small>{% endif %}</h1>
          
          {% block breadcrumb %}
            {% include 'navigation/breadcrumb.html.twig' with {page_title: block('page_title')} %}
          {% endblock %}
          <div id="alerts-page"></div>
        </section>
        {% endblock %}
        <section class="content">
            {% block body_matter %}

		

              <div class="col-md-6" style="display:none">
                <div class="container hide" id="streams">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h3 class="panel-title">Streams <i id="update-streams" class="fa fa-refresh" title="Update list of streams" style="cursor: pointer;"></i></h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

	      <div class="row">
		      <div class="col-md-6">
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Stream
		  	    <span class="label label-info hide" id="status"></span>
		  	    <span class="label label-primary hide" id="curres"></span>
		  	    <span class="label label-info hide" id="curbitrate"></span>
			    <span class="btn-group btn-group-sm">
			      <button class="btn btn-primary" autocomplete="off" id="watch">Watch or Listen</button>
                              <span class="btn-group btn-group-sm">
                                <button autocomplete="off" id="streamset" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                  Streams list<span class="caret"></span>
                                </button>
                                <ul id="streamslist" class="dropdown-menu" role="menu">
                                </ul>
                              </span>
			    </span>
		  	    </h3>
			  </div>
			  <div id="stream"></div>
			</div>
		      </div>
	      </div>

		<div class="row">
              <div class="col-md-6">
                <div id="full" style="max-width: calc(178vh - 359px);">
                  <div id="outer" style="position:relative;width:100%;padding-bottom: 56.25%;;border:1px solid black; overflow:hidden;">
                    <div id='imageDiv' style="position: absolute;width:100%;">
                      <img id='image' unselectable='on'  src='{{site.uri.public}}/ImgRsrc/HUD/BackgroundFullResized.png' width="100%" style="margin-left: -7.58%;margin-top: -101.85%;width: 115%;"/>
                    </div>
                    <div id='pitchDiv' style="position: absolute;width:100%;">
                      <img id='pitchImage' unselectable='on' src='{{site.uri.public}}/ImgRsrc/HUD/pitch.png' width="100%" style="margin-left: -7.58%;margin-top: -101.85%;width: 115%;"/> 
                    </div>
                    <div style="position: absolute;width:100%;">
                      <img id='rollImage' unselectable='on'  type="text/javascript" src='{{site.uri.public}}/ImgRsrc/HUD/roll.png' width="100%"/> 
                    </div>
                    <div style="position: absolute;width:100%;">
                      <img id='image2' unselectable='on'  type="text/javascript" src='{{site.uri.public}}/ImgRsrc/HUD/fixed.png' width="100%"/> 
                    </div>
                  </div>
                </div>
              </div>
		</div>

            {% endblock %}
        </section>
    </div>
  </div>
  <!-- /.content-wrapper -->

  {% block footer %}
    {% include "pages/partials/footer.html.twig" %}
  {% endblock %}
</div>
<!-- ./wrapper -->

{% endblock %}





{% block scripts_page_group %}
  
{% endblock %}
{% block scripts_page %}

  <!-- Video -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/6.0.3/adapter.min.js" ></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js" ></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.2/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.1.0/bootbox.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.js"></script>
  {{ assets.js('js/pages/janus') | raw }}
  {{ assets.js('js/pages/streaming') | raw }}

  <!-- HUD -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://cdn.rawgit.com/wilq32/jqueryrotate/master/jQueryRotate.js"></script>
  {{ assets.js('js/hud') | raw }}

{% endblock %}
