{# This partial template renders a table of users, to be populated with rows via an AJAX request.
 # This extends a generic template for paginated tables.
 #
 # Note that this template contains a "skeleton" table with an empty table body, and then a block of Handlebars templates which are used
 # to render the table cells with the data from the AJAX request.
#}

{% extends "tables/table-paginated.html.twig" %}

{% block table %}
    <table id="{{table.id}}" class="tablesorter table table-bordered table-hover table-striped" data-sortlist="{{table.sortlist}}">
        <thead>
            <tr>
                <th class="sorter-metatext" data-column-name="name" data-column-template="#mountpoint-table-column-name" data-priority="1">{{translate('STREAM.NAME')}} <i class="fa fa-sort"></i></th>
                <th class="sorter-metatext" data-column-name="port" data-column-template="#mountpoint-table-column-port" data-priority="2">{{translate("STREAM.PORT")}} <i class="fa fa-sort"></i></th>
                <th data-column-name="actions" data-column-template="#mountpoint-table-column-actions" data-sorter="false" data-filter="false" data-priority="1">{{translate("ACTIONS")}}</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock %}

{% block table_cell_templates %}
    {# This contains a series of <script> blocks, each of which is a client-side Handlebars template.
     # Note that these are NOT Twig templates, although the syntax is similar.  We wrap them in the `verbatim` tag,
     # so that Twig will output them directly into the DOM instead of trying to treat them like Twig templates.
     #
     # These templates require handlebars-helpers.js, moment.js
    #}
    {% verbatim %}
    <script id="mountpoint-table-column-name" type="text/x-handlebars-template">
        <td data-text="{{row.name}}" >
            <div id="{{row.name}}">
                <strong>
                    <a href="#" data-name="{{row.name}}" class="js-drone-locate">{{row.name}}</a>
                </strong>
            </div>
        </td>
    </script>

    <script id="mountpoint-table-column-port" type="text/x-handlebars-template">
        <td data-text="{{row.port}}" >
            <div id="{{row.port}}">
                <strong>
                    <a href="#" data-port="{{row.port}}" class="js-drone-locate">{{row.port}}</a>
                </strong>
            </div>
        </td>
    </script>

    <script id="mountpoint-table-column-actions" type="text/x-handlebars-template">
        <td
            {{#ifx row.flag_enabled '==' 0 }}
                data-text="disabled"
            {{ else }}
                {{#ifx row.flag_verified '==' 0 }}
                    data-text="unactivated"
                {{ else }}
                    data-text="active"
                {{/ifx }}
            {{/ifx }}
        >
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    {% endverbatim %}{{translate("ACTIONS")}}{% verbatim %}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li>
                        <a href="#" data-id="{{row.id}}" class="js-stream-edit">
                        <i class="fa fa-edit"></i> {% endverbatim %}{{translate("STREAM.EDIT")}}{% verbatim %}
                        </a>
                    </li>
                    <li>
                        <a href="#" data-id="{{row.id}}" class="js-stream-delete">
                        <i class="fa fa-trash-o"></i> {% endverbatim %}{{translate("STREAM.DELETE")}}{% verbatim %}
                        </a>
                    </li>
                    
                </ul>
            </div>
        </td>
    </script>
    {% endverbatim %}
{% endblock %}

{% block table_pager_controls %}
    <div class="pager pager-lg tablesorter-pager js-uf-table-pager" data-output-template="{{translate('PAGINATION.OUTPUT2')}}">
        <span class="pager-control first" title="{{translate("PAGINATION.FIRST")}}"><i class="fa fa-angle-double-left"></i></span>
        <span class="pager-control prev" title="{{translate("PAGINATION.PREVIOUS")}}"><i class="fa fa-angle-left"></i></span>
        <span class="pagedisplay"></span> {# this can be any element, including an input #}
        <span class="pager-control next" title="{{translate("PAGINATION.NEXT")}}"><i class="fa fa-angle-right"></i></span>
        <span class="pager-control last" title= "{{translate("PAGINATION.LAST")}}"><i class="fa fa-angle-double-right"></i></span>
        <br><br>
        {{translate("PAGINATION.GOTO")}}: <select class="gotoPage"></select> &bull; {{translate("PAGINATION.SHOW")}}:
        <select class="pagesize">
        {% for count in pager.take|default([5, 10, 50, 100]) %}
            <option value="{{count}}">{{count}}</option>
        {% endfor %}
        </select>
    </div>
{% endblock %}
